.background {
    background: url("../images/astronomy-astrophotography-clouds-colors-755726.jpg") no-repeat center fixed;
    background-size: cover;
    padding-bottom: 80px;
}


#map-id {
    height: 450px;
    margin: auto;
    margin-top: 80px;
}

.top-bar {
    background: transparent;
}

.top-bar-right {
    display: inline-flex;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    min-width: 30%;
    padding: 0 20px;
    position: relative;
}

.top-bar-left {
    min-width: 75%;
}

.title {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    color: honeydew;
    margin: 0 20px;
}

.enter-date {
    color: honeydew;
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
    margin-top: 5px;
}

.enter-location {
    color: honeydew;
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
    margin-top: 5px;
}

.button {
    background: transparent;
    border-radius: 10px;
    border: 1px solid white;
    min-width: 10%;
}


.search-box {
    width: 98px;
    background: transparent;
    border-radius: 10px;
    color: rgb(98, 98, 250);
}

.location-box {
    width: 98px;
    background: transparent;
    border-radius: 10px;
    color: rgb(98, 98, 250);
}

.container {
    margin-top: 40px;
}

div.ui-datepicker{
    font-size:10px;
   }

.card {
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    color: honeydew;
}

.card-divider {
    background-color: rgb(37, 35, 35);
    
}

.title-description {
    min-width: 40%;
    max-width: 60%;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    color: honeydew;
    border-bottom: 1px solid white;
    font-size: 30px;
}

.description {
    font-family: 'Oswald', sans-serif;
    color: honeydew;
    text-align: center;
    margin: 30px;
}


.main-body {
    padding-left: 20px;
    padding-right: 20px;
}

.red {
    border: red 1px solid;
    
}

.red a {
    color: red;
}

.green {
    border: rgb(10, 226, 10) 1px solid;
}

.green a {
    color: rgb(10, 226, 10);
}

.hidden {
    visibility: hidden;
}

#issBTN {
    font-size: 18px;
    margin-top: -3px;
}

.description p {
    font-size: 20px;    
}

#apod-img {
    color: white;
}

#apod-img p {
    width: 40%;
    float: left;
    margin-left: 20px;
    background-color: rgb(22, 22, 22);
    text-align: center;
    border: 1px solid white;
    padding: 5px;
}

#apod-img img {
    float: right;
    width: 55%;
    margin-right: 20px;
    border: 1px solid white;
}

.apod-head {
    text-align: center;
    padding-bottom: 20px;
}

#apod-img h2 {
    border-top: 1px solid white;
    padding-bottom: 0;
    padding-top: 10px;
}

.copyright {
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 20px;
    display: block;
}

.apod-main {
    display: inline-block;
    padding-bottom: 40px;
}

@media only screen and (max-width: 820px) {
    #apod-img p {
        width: 100%;
        clear: both;
        margin: auto;
    }
    #apod-img img {
        width: 100%;
        margin: auto;
    }
}

#recents {
    width: 100%;
    display: block;
    text-align: center;
    color: white;
}

#recents .button {
    font-size: 24px;
    border: 1px solid white;
    margin: 20px 10px;
}

@media only screen and (max-width: 640px) {
    .top-bar-right {
        justify-content: center;

    }
    .top-bar-left {
        text-align: center;
    }
    .title {
        display: block;
    }
}

.card-divider {
    background-color: rgb(30, 32, 46, 0.6);
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}