.background {
    background: url("images/space.jpg") no-repeat center fixed;
    background-size: cover;
}

#map-id {
    height: 450px;
    width: auto;
}

#search-form {
    padding-top: 20px;
}

.nav {
    display: flex;
}

.menu-text {
    font-size: 26px;
}